<a href="https://colab.research.google.com/github/NiyatiBhasin/REINFORCE/blob/main/Python%20practise%20ques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
file_path = '/content/student-mat.csv'
df = pd.read_csv(file_path)
print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

In [2]:
df_missed_10plus_classes = df[df['absences'] >= 10]


total_students_missed_10plus_classes = len(df_missed_10plus_classes)


students_obtained_80plus_missed_10plus = df_missed_10plus_classes[df_missed_10plus_classes['G1'] >= 80]
num_students_obtained_80plus_missed_10plus = len(students_obtained_80plus_missed_10plus)

prob_80_or_more_given_miss_10plus_classes = num_students_obtained_80plus_missed_10plus / total_students_missed_10plus_classes

print(f"Probability of obtaining 80% or more in math, given missing at least 10 classes: {prob_80_or_more_given_miss_10plus_classes:.2f}")

Probability of obtaining 80% or more in math, given missing at least 10 classes: 0.00

In [5]:
print(df_missed_10plus_classes)

total_students_missed_10plus_classes = len(df_missed_10plus_classes)

total_students_missed_80plus_marks = df[df['G1'] >= 80]
print(df_missed_10plus_classes)
print(total_students_missed_80plus_marks )

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
2       GP   F   15       U     LE3       T     1     1   at_home     other
5       GP   M   16       U     LE3       T     4     3  services     other
18      GP   M   17       U     GT3       T     3     2  services  services
25      GP   F   16       U     GT3       T     2     2  services  services
29      GP   M   16       U     GT3       T     4     4   teacher   teacher
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
369     MS   F   18       R     GT3       T     4     4     other   teacher
373     MS   F   17       R     GT3       T     1     2     other     other
379     MS   F   17       R     GT3       T     3     1   at_home     other
384     MS   M   18       R     GT3       T     4     2     other     other
390     MS   M   20       U     LE3       A     2     2  services  services

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
2    ...      4        3      2     2     3      3       10   7   8  10
5    ...      5        4      2     1     2      5       10  15  15  15
18   ...      5        5      5     2     4      5       16   6   5   5
25   ...      1        2      2     1     3      5       14   6   9   8
29   ...      4        4      5     5     5      5       16  10  12  11
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
369  ...      3        2      2     4     2      5       10  14  12  11
373  ...      3        5      5     1     3      1       14   6   5   5
379  ...      4        5      4     2     3      1       17  10  10  10
384  ...      5        4      3     4     3      3       14   6   5   5
390  ...      5        5      4     4     5      4       11   9   9   9

[83 rows x 33 columns]
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
2       GP   F   15       U     LE3       T     1     1   at_home     other
5       GP   M   16       U     LE3       T     4     3  services     other
18      GP   M   17       U     GT3       T     3     2  services  services
25      GP   F   16       U     GT3       T     2     2  services  services
29      GP   M   16       U     GT3       T     4     4   teacher   teacher
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
369     MS   F   18       R     GT3       T     4     4     other   teacher
373     MS   F   17       R     GT3       T     1     2     other     other
379     MS   F   17       R     GT3       T     3     1   at_home     other
384     MS   M   18       R     GT3       T     4     2     other     other
390     MS   M   20       U     LE3       A     2     2  services  services

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
2    ...      4        3      2     2     3      3       10   7   8  10
5    ...      5        4      2     1     2      5       10  15  15  15
18   ...      5        5      5     2     4      5       16   6   5   5
25   ...      1        2      2     1     3      5       14   6   9   8
29   ...      4        4      5     5     5      5       16  10  12  11
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
369  ...      3        2      2     4     2      5       10  14  12  11
373  ...      3        5      5     1     3      1       14   6   5   5
379  ...      4        5      4     2     3      1       17  10  10  10
384  ...      5        4      3     4     3      3       14   6   5   5
390  ...      5        5      4     4     5      4       11   9   9   9

[83 rows x 33 columns]
Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]

In [6]:
f_missed_10plus_classes = df[df['absences'] >= 10]


total_students_missed_10plus_classes = len(df_missed_10plus_classes)

total_students_missed_80plus_marks = df[df['G1'] >= 80]
print(df_missed_10plus_classes)
print(total_students_missed_80plus_marks )

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
2       GP   F   15       U     LE3       T     1     1   at_home     other
5       GP   M   16       U     LE3       T     4     3  services     other
18      GP   M   17       U     GT3       T     3     2  services  services
25      GP   F   16       U     GT3       T     2     2  services  services
29      GP   M   16       U     GT3       T     4     4   teacher   teacher
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
369     MS   F   18       R     GT3       T     4     4     other   teacher
373     MS   F   17       R     GT3       T     1     2     other     other
379     MS   F   17       R     GT3       T     3     1   at_home     other
384     MS   M   18       R     GT3       T     4     2     other     other
390     MS   M   20       U     LE3       A     2     2  services  services

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
2    ...      4        3      2     2     3      3       10   7   8  10
5    ...      5        4      2     1     2      5       10  15  15  15
18   ...      5        5      5     2     4      5       16   6   5   5
25   ...      1        2      2     1     3      5       14   6   9   8
29   ...      4        4      5     5     5      5       16  10  12  11
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
369  ...      3        2      2     4     2      5       10  14  12  11
373  ...      3        5      5     1     3      1       14   6   5   5
379  ...      4        5      4     2     3      1       17  10  10  10
384  ...      5        4      3     4     3      3       14   6   5   5
390  ...      5        5      4     4     5      4       11   9   9   9

[83 rows x 33 columns]
Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]